.range-container {
    display: flex;
    flex: 1;
    align-items: center;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #aaa;
}
.toggle {
    height: 30px;
    width: 20px;
    border-radius: 5px;
    background-color: black;
}

.icon-container {
    padding-bottom: 2px;
    margin-bottom: 0px;
}

.icon {
  font-size: 22px;
}

.circle-container {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-top: 2px;
    background-color: white;
}
.indicator {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    line-height: 36px;
}